/* For Nav Bar */
body {
  z-index:0;
}
.navbar_bg {
  background-color: black;
  height: 80px;
}
.navbar_bg a {
  color: red;
}
.search_button_color {
  color: red;
}
.nav_toggler_btn {
  background-color: rgb(173, 20, 20);
}


.overview_bg {
  padding: 50px;
  background-color: black;
  height: 100vh;
}
p{
    /* border: 1px solid red; */
    border-radius: 5px;
    /* padding: 30px; */
    color: white;
    font-size: 1.3em;
    font-family: playfair;
}
